/* Prevent padding and border from affecting element width. */
*, ::before, ::after {
    box-sizing: border-box;
}

/* Remove the margin in all browsers */
body {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#flag {
  position: fixed;
  transform-origin: center left;
}

#flapping {
    transition: transform 0.1s;
    background-color: #006AA7;
    transform-origin: center left;
    transform: skewY(0deg);
}

#horizontal-stripe {
    position: absolute;
    top: 80px;
    height: 40px;
    width: 320px;
    background-color: #FECC02;
}

/* #top-wave-one {
    position: absolute;
    top: -10%;
}

#top-wave-two {
    position: absolute;
    left: 320px;
    top: -10%;
} */


